* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #17171f;
  color: white;
  font-family: "Nunito", sans-serif;
}

.warning {
  display: flex;
  margin: 1rem auto;
  border: 2px solid #ce2b16;
  max-width: 30rem;
  padding: 1rem;
  gap: 1rem;
}

.warning-icon {
  color: #ce2b16;
  font-size: 5rem;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh auto;
  width: 21rem;
  padding: 1.5rem 0;
  background-color: #17171ad0;
  border: 2px solid #373742;
  box-shadow: 1px 1px 15px 1px #7508db9d;
  transition-duration: 1s;
  position: relative;
  gap: 1rem;
}

.register {
  border: 2px solid #831305;
  box-shadow: 1px 1px 15px 1px #ff272e8f;
}

hr {
  width: 20rem;
  margin: 1rem;
  box-shadow: 1px 1px 15px 1px #f3f0f08f;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.label-form {
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.input-form {
  padding: 0.5rem;
  height: 2.3rem;
  max-width: 15rem;
  font-size: larger;
}

.btn-login {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 4rem;
  cursor: pointer;
  color: #fff;
  background-color: #8707ff;
}

.btn-login:hover {
  background-color: #460385;
}

.btn-register {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 4rem;
  cursor: pointer;
  color: #fff;
  background-color: #ff272e8f;
}

.btn-register:hover {
  background-color: #770d118f;
}

small {
  font-size: 1rem;
}

small a {
  color: #8707ff;
}

.error-msg {
  color: #ce2b16;
}
